<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
    <ion-title text-center>{{"Cart"| translate}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only light class="has-icon icon-only has-badge">
        <ion-icon class="ion-ios-basket-outline item-icon">
        </ion-icon>
        <ion-badge class="badge badge-light" *ngIf="values.count">{{values.count}}
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="cart">
  <ion-spinner *ngIf="!cart" name="crescent">
  </ion-spinner>
  <div *ngIf="cart">
        <div class="empty" *ngIf="cart.cart_contents.length == 0"> 
            <ion-icon name="md-basket"></ion-icon>
            <h4 color="side-heading-color" text-center no-lines>{{"Your cart is empty" | translate}}!</h4>
            <h5 text-center no-lines>{{"Add some products available in our menu to checkout" | translate}}</h5> 
            <button ion-button class="butt" item-center medium color="button-color" text-uppercase (click)="gohome()">{{"Continue Shopping" | translate}}</button> 
        </div>
    <div *ngIf="cart?.cart_contents">

      <div class="cart-items">
      <ion-list>
        <div class="cart-list" *ngFor="let item of cart.cart_contents | keys">
          <ion-item no-lines *ngIf="item.value.quantity != 0">
            <ion-thumbnail item-left>
              <img src="{{item.value.thumb}}">
            </ion-thumbnail>
            <h2 wrap-text>{{item.value.name}}
            </h2>
            <h3 wrap-text > {{"Price" | translate}}: {{item.value.price | currency:values.currency:true:'1.2-2'}}
            </h3>
            <h3 wrap-text> {{"Totals" | translate}}: {{1*item.value.line_subtotal | currency:values.currency:true:'1.2-2'  }}
            </h3>
            <a (click)="delete( item.key )">
              <ion-icon name="trash">
              </ion-icon>
            </a>
            <button ion-button icon-only class="has-icon icon-only" no-margin item-right clear color="button-color" (click)="deleteFromCart(item.value.product_id, item.key)">
              <ion-icon ios="ios-remove-circle-outline" md="ios-remove-circle-outline">
              </ion-icon>
            </button>
            <button ion-button item-right color="button-color" clear>{{item.value.quantity}}
            </button>
            <button ion-button icon-only class="has-icon icon-only" no-margin item-right clear color="button-color" (click)="addToCart(item.value.product_id, item.key)">
              <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline">
              </ion-icon>
            </button>
          </ion-item>
        </div>
      </ion-list>
      </div>

      <div *ngIf="cart.cart_contents.length != 0">
        <ion-list *ngIf="shipping" no-margin text-wrap radio-group [(ngModel)]="chosen_shipping" (ngModelChange)="updateShipping(chosen_shipping)" class="shipping-methods">
          <ion-item-divider>
            <h2>{{"Select shipping method" | translate}}
            </h2>
          </ion-item-divider>
          <ion-item *ngFor="let method of shipping | keys" >
            <ion-label>{{method.value.method_title}} 
              <span *ngIf="method.value.cost">{{ 1*method.value.cost | currency:values.currency:true:'1.2-2'}}
              </span> 
            </ion-label>
            <ion-radio value="{{method.value.id + ':' + method.value.instance_id}}" >
            </ion-radio>
          </ion-item>
        </ion-list>

        <form #f="ngForm" class="coupon">
          <ion-item>
            <ion-label>{{"Coupon Code" | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="cart.coupon" name="coupon">
            </ion-input>
            <h2 item-right>
              <button ion-button color="button-color" block type="submit" text-uppercase [disabled]='disableSubmitCoupon' (click)="submitCoupon()"> {{Apply | translate}}
              </button>
            </h2>
          </ion-item>
        </form>

        <ion-list class="totals" *ngIf="cart.cart_totals">
          <!--ion-item-divider>
            <h2>{{"Totals" | translate}}
            </h2>
          </ion-item-divider-->
          <ion-row>
            <ion-col width-75>
              <ion-label>{{"SubTotal" | translate}}
              </ion-label>
            </ion-col>
            <ion-col width-25 text-right>
              <ion-label>{{1*cart.cart_totals.subtotal | currency:values.currency:true:'1.2-2'}}
              </ion-label>
            </ion-col>
          </ion-row>  

          <ion-row *ngIf="cart.cart_totals.cart_contents_total != 0">
            <ion-col width-75>
              <ion-label>{{"Subtotal ex tax" | translate}}
              </ion-label>
            </ion-col>
            <ion-col width-25 text-right>
              <ion-label>{{1*cart.cart_totals.cart_contents_total | currency:values.currency:true:'1.2-2'}}
              </ion-label>
            </ion-col>
          </ion-row>  

          <ion-row *ngIf="cart.cart_totals.tax_total != 0">
            <ion-col width-75>
              <ion-label>{{"Tax total" | translate}}
              </ion-label>
            </ion-col>
            <ion-col width-25 text-right>
              <ion-label>{{1*cart.cart_totals.total_tax | currency:values.currency:true:'1.2-2'}}
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="cart.cart_totals.discount_total && cart.cart_totals.discount_total != 0"> 
            <ion-col width-75 class="remove-coupon">
              <ion-label>{{"Coupons" | translate}} - {{cart.applied_coupons}} 
                <a (click)="removeCoupon()"> (Remove)
                </a>
              </ion-label>
            </ion-col>
            <ion-col width-25 text-right>
              <ion-label>- {{1*cart.cart_totals.discount_total | currency:values.currency:true:'1.2-2'}}
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="cart.cart_totals.shipping_total != 0"> 
            <ion-col width-75>
              <ion-label>{{"Shipping" | translate}}
              </ion-label>
            </ion-col>
            <ion-col width-25 text-right>
              <ion-label >{{1*cart.cart_totals.shipping_total | currency:values.currency:true:'1.2-2'}}
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col width-75>
              <ion-label>
                <b> {{"Grand Total" | translate}}
                </b>
              </ion-label>
            </ion-col >
            <ion-col width-25 text-right>
              <ion-label>{{1*cart.cart_totals.total | currency:values.currency:true:'1.2-2'}}
              </ion-label>
            </ion-col>
          </ion-row>

        </ion-list>
        
      </div>
    </div>
  </div>
</ion-content>
<div *ngIf="cart">
  <ion-footer *ngIf="cart.cart_contents.length != 0">
    <button ion-button full color="button-color" no-padding no-margin text-uppercase [disabled]='disableSubmit' (click)="checkout()">{{Checkout | translate}}
    </button>
  </ion-footer>
</div>
