<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
    <ion-title text-center>{{"Register" | translate}}
    </ion-title> 
  </ion-navbar>
</ion-header>
<ion-content class="account-register">
  <div>
    <form #f="ngForm">
      <ion-list>
        <ion-list-header>
          <b primary>{{"AccountInfo" | translate}}
          </b>
        </ion-list-header>
        <ion-item>
          <ion-label floating>{{"FirstName" | translate}}
          </ion-label>
          <ion-input type="text" [(ngModel)]="registerData.first_name" name="firstname">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{"LastName" | translate}}
          </ion-label>
          <ion-input type="text" [(ngModel)]="registerData.last_name" name="lastname">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{"Email" | translate}}
          </ion-label>
          <ion-input type="email" [(ngModel)]="registerData.email" name="Email">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{"Password" | translate}}
          </ion-label>
          <ion-input type="password" [(ngModel)]="registerData.password" name="password">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{"Company" | translate}}
          </ion-label>
          <ion-input required type="text" [(ngModel)]="registerData.billing_address.company" name="billing_company">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{"Phone" | translate}}
          </ion-label>
          <ion-input required type="number" [(ngModel)]="registerData.billing_address.phone" name="billing_phone">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{"StreetAddress" | translate}} 1
          </ion-label>
          <ion-input required type="text" [(ngModel)]="registerData.billing_address.address_1" name="billing_address_1">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{"StreetAddress" | translate}} 2
          </ion-label>
          <ion-input required type="text" [(ngModel)]="registerData.billing_address.address_2" name="billing_address_2">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{"City" | translate}}
          </ion-label>
          <ion-input required type="text" [(ngModel)]="registerData.billing_address.city" name="billing_city">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{"Postcode" | translate}}
          </ion-label>
          <ion-input required type="text" [(ngModel)]="registerData.billing_address.postcode" name="postcode">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="countries.country">     
          <ion-label>  
            {{"Country" | translate}}
          </ion-label>   
          <ion-select [(ngModel)]="registerData.billing_address.country" (ngModelChange)="getBillingRegion(registerData.billing_address.country)" name="country">
            <div *ngFor="let field of countries.country.countries | keys">
              <ion-option value="{{field.key}}"><span [innerHTML]="field.value"></span></ion-option>
            </div>
          </ion-select>      
        </ion-item>
        <ion-item *ngIf="billing_states">  
          <ion-label>  
            {{"State" | translate}}
          </ion-label>   
          <ion-select [(ngModel)]="registerData.billing_address.state" name="state">
            <div *ngFor="let field of billing_states | keys">
              <ion-option value="{{field.key}}">{{field.value}}
              </ion-option>
            </div>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!billing_states">
          <ion-label floating>{{"State" | translate}}
          </ion-label>
          <ion-input required type="text" [(ngModel)]="registerData.billing_address.state" name="state">
          </ion-input>
        </ion-item>
      </ion-list>

        <div *ngIf="errors" class="error-message">
            <h2 *ngFor="let item of errors | keys">{{item.value.message}}
            </h2>
        </div>

      <div class="margin"> 
        <button ion-button block color="button-color" type="submit" class="button button-block button-default" text-uppercase [disabled]="disableSubmit" (click)="registerCustomer()">{{Register | translate}}
        </button>
      </div>
    </form>
  </div>

</ion-content>
