.home {
    font-family: arial;
    .card-md ion-card-content {
        padding: 0px;
    }
    .blocks {
        .category {
            .category-slider-scroll, .category-scroll {
                margin: 5px;
                .scrollmenu2 {
                    margin: 0;
                    overflow: auto;
                    white-space: nowrap;
                    .none {
                        display: none;
                    }
                    h5 {
                        margin: 0;
                        border-radius: 3px;
                        padding: 10px 4px 0 4px;
                        font-size: 11px;
                        text-transform: capitalize;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    img {
                        //height: auto;
                        //width: 20vw;
                        //max-width: 100px;
                        //max-height: 100px;
                    }
                    a {
                        display: inline-block;
                        color: #000;
                        text-align: center;
                        padding: 14px;
                        text-decoration: none;
                        padding: 0 10px 10px 10px;
                        width: 40%;
                    }
                    @media (min-width: 481px) and (max-width: 768px) {
                        a {
                            width: 33.333%;
                        }
                    }
                    @media (min-width: 769px) and (max-width: 1024px) {
                        a {
                            width: 25%;
                        }
                    }
                    @media (min-width: 1025px) {
                        a {
                            width: 20%;
                        }
                    }
                }
            }
            .category-slider-grid, .category-grid {
                margin: 0 0 5px 0;
                .label {
                    font-size: 11px;
                }
                ion-card-content {
                    padding: 0px;
                }
                .card-md ion-card-content {
                    padding: 0px;
                }
                ion-label {
                    margin-left: 5px;
                }
                .none {
                    display: none;
                }
                ion-card {
                    margin: 0px;
                    width: 100%;
                    box-shadow: none;
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                        min-height: 100px;
                        padding: 0 10px 0 10px;
                    }
                }
                .row.unlimited-items {
                    flex-wrap: wrap;
                    padding-left: 0; //border-top: 1px solid #f5f5f5;
                    //border-left: 1px solid #f5f5f5;
                }
                .row.unlimited-items .col {
                    //border-bottom: 1px solid #f5f5f5;
                    //border-right: 1px solid #f5f5f5;
                    flex: none;
                    padding: 0;
                    width: 50%;
                }
                @media (min-width: 481px) and (max-width: 768px) {
                    .row.unlimited-items .col {
                        width: 33.333%;
                    }
                    ion-col:nth-child(3n+0) {
                        border-right: none;
                    }
                }
                @media (min-width: 769px) and (max-width: 1024px) {
                    .row.unlimited-items .col {
                        width: 25%;
                    }
                    ion-col:nth-child(4n+0) {
                        border-right: none;
                    }
                }
                @media (min-width: 1025px) {
                    .row.unlimited-items .col {
                        width: 20%;
                    }
                    ion-col:nth-child(5n+0) {
                        border-right: none;
                    }
                }
            }
        }
        .offer {
            margin-left: 5px;
            font-size: 14px;
            background-color: $button-color;
            color: #fff;
            border-radius: 25px;
            width: 40px;
            min-height: 40px;
            font-weight: 600;
            position: absolute;
            top: 5px;
            left: 5px;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .top_left {
            padding: 10px 16px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
        }
        .top_center {
            padding: 14px 16px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            text-align: center;
        }
        .top_right {
            padding: 14px 16px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            text-align: right;
        }
        .none {
            display: none;
        }
        .scrollmenu {
            background-color: #333;
            overflow: auto;
            white-space: nowrap;
        }
        .scrollmenu a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }
        .banner_block {
            .banner-scroll {
                overflow: auto;
                white-space: nowrap;
                a {
                    display: inline-block;
                    color: #000;
                    text-decoration: none;
                    width: 80%;
                }
            }
            .banner-grid {
                .row.unlimited-items {
                    flex-wrap: wrap;
                }
                .row.unlimited-items .col {
                    flex: none;
                    width: 50%;
                    padding: 0;
                }
            }
        }
        .card {
            background: transparent;
        }
        .product-block {
            .product-scroll {
                .scroller {
                    padding: 4px 4px 6px 4px;
                    overflow: auto;
                    white-space: nowrap;
                    h5 {
                        margin: 0;
                        border-radius: 3px;
                        padding: 6px;
                        font-size: 12px;
                        text-transform: capitalize;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: 600;
                    }
                    a {
                        display: inline-block;
                        color: #000;
                        text-decoration: none;
                        width: 42%;
                        padding: 10px 5px 10px 5px;
                    }
                    @media (min-width: 481px) and (max-width: 768px) {
                        a {
                            width: 33.333%;
                        }
                    }
                    @media (min-width: 769px) and (max-width: 1024px) {
                        a {
                            width: 25%;
                        }
                    }
                    @media (min-width: 1025px) {
                        a {
                            width: 20%;
                        }
                    }
                    img {
                        height: auto;
                        width: 100%;
                    }
                    ion-card {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        box-shadow: none;
                    }
                    ion-card-content {
                        padding: 0;
                    }
                    .price-regular {
                        font-size: 13px;
                        font-weight: 500;
                    }
                    del {
                        font-size: 11px;
                        color: #666;
                    }
                    ion-label {
                        margin: 0;
                        padding: 0 6px 6px 6px;
                    }
                    .price-delete {
                    color: #666;
                    font-size: 12px;
                }
                .price-regular {
                    font-size: 14px;
                    font-weight: 600;
                }
                }
            }
            .product-grid {
                .wishlist-button-grid1 {
                    position: absolute;
                    top: 2px;
                    right: 20px;
                    font-size: 2em;
                    margin: 0.4rem -5px;
                    color: #f44336;
                }
                .wishlist-button-grid2 {
                    position: absolute;
                    top: 2px;
                    right: 20px;
                    font-size: 2em;
                    margin: 0.4rem -5px;
                    color: #444;
                }
                ion-row {
                    margin: 0;
                    padding: 0 0 0 5px;
                }
                ion-col {
                    margin: 0;
                    padding: 5px 5px 0 0;
                }
                ion-card {
                    position: relative;
                    text-align: center;
                    margin: 0;
                    width: 100%;
                    box-shadow: none;
                    img {
                        width: 100%;
                        height: 100%;
                        margin: auto;
                        padding: 0;
                    }
                    ion-card-content {
                        padding: 0px;
                    }
                }
                .card-title {
                    position: absolute;
                    top: 80%;
                    font-size: 12px;
                    width: 100%;
                    font-weight: 500;
                    color: #fff;
                }
                .card-subtitle {
                    font-size: 1.0em;
                    position: absolute;
                    top: 52%;
                    width: 100%;
                    color: #fff;
                }
                .stock {
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 130px;
                    font-size: 11px;
                    margin: 15px;
                    margin-left: -39px;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    height: 2.8rem;
                    background-color: $button-color;
                    box-shadow: none;
                }
                .card-name {
                    width: 144px;
                    margin: auto;
                    ion-label {
                        margin: 6px 0 0;
                        height: 20px;
                        white-space: no-wrap;
                        font-size: 13px;
                    }
                }
                .label {
                margin: 0px 0px 0px 0px;
                   // margin-bottom: 10px;
                   // margin-top: 5px;
                }
                .price-delete {
                    color: #666;
                    font-size: 12px;
                }
                .price-regular {
                    font-size: 14px;
                    font-weight: 600;
                }
                .row.unlimited-items {
                    flex-wrap: wrap;
                    padding-left: 0;
                }
                .row.unlimited-items .col {
                margin-bottom: 10px;
                    flex: none;
                    width: 50%;
                    padding: 0;
                }
                @media (min-width: 481px) and (max-width: 768px) {
                    .row.unlimited-items .col {
                        width: 33.333%;
                    }
                    ion-col:nth-child(3n+0) {
                        border-right: none;
                    }
                }
                @media (min-width: 769px) and (max-width: 1024px) {
                    .row.unlimited-items .col {
                        width: 25%;
                    }
                    ion-col:nth-child(4n+0) {
                        border-right: none;
                    }
                }
                @media (min-width: 1025px) {
                    .row.unlimited-items .col {
                        width: 20%;
                    }
                    ion-col:nth-child(5n+0) {
                        border-right: none;
                    }
                }
            }
        }
    }
    .main-categories {
        ion-card-content {
            padding: 0px;
        }
        ion-label {
            margin-left: 5px;
        }
        ion-card {
            margin: 0px;
            width: 100%;
        }
        .row.unlimited-items {
            flex-wrap: wrap;
            padding-left: 5px;
        }
        .row.unlimited-items .col {
            flex: none;
            width: 50%;
            padding: 5px 5px 0 0;
        }
        @media (min-width: 481px) and (max-width: 768px) {
            .row.unlimited-items .col {
                width: 33.333%;
            }
            ion-col:nth-child(3n+0) {
                border-right: none;
            }
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            .row.unlimited-items .col {
                width: 25%;
            }
            ion-col:nth-child(4n+0) {
                border-right: none;
            }
        }
        @media (min-width: 1025px) {
            .row.unlimited-items .col {
                width: 20%;
            }
            ion-col:nth-child(5n+0) {
                border-right: none;
            }
        }
        img {
            min-height: $min-home-category-height;
        }
    }
    .scroll-content {
        padding-bottom: 10px;
    }
    .shop-name {
        margin: 0;
        .label {
            margin: 12px 0;
        }
        .item {
            background-color: #f4f4f4;
        }
    }
    .products-listing {
        .grid {
            padding: 0;
        }
        .wishlist-button-grid {
            position: absolute;
            top: 2px;
            left: 20px;
            font-size: 1.5em;
            margin: 0.4rem -5px;
        }
        padding-top: 0;
        .price-list {
            margin: 0px;
            padding-left: 10px;
            box-shadow: none;
            ion-label {
                margin: 0px;
                font-size: 17px;
                white-space: inherit;
                text-align: center;
            }
            button {
                margin: 0px;
            }
            .price-regular {
                color: #111111;
                margin-top: 0px;
                font-weight: 600;
            }
            .price-special {
                color: #111111;
                margin-top: 0px;
                font-weight: 600;
            }
            .price-delete {
                color: #666;
                opacity: 60;
                margin-top: 0px;
                font-size: 14px;
            }
        }
        .item-name {
            box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3);
            background-color: #f9f9f9;
            padding: 0 0 0 16px;
            .item.item-block .item-inner {
                padding-right: 0;
            }
        }
        .row.unlimited-items {
            flex-wrap: wrap;
            padding-left: 5px;
        }
        .row.unlimited-items .col {
            flex: none;
            width: 50%;
            padding: 5px 5px 0 0;
        }
        @media (min-width: 481px) and (max-width: 768px) {
            .row.unlimited-items .col {
                width: 33.333%;
            }
            ion-col:nth-child(3n+0) {
                border-right: none;
            }
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            .row.unlimited-items .col {
                width: 25%;
            }
            ion-col:nth-child(4n+0) {
                border-right: none;
            }
        }
        @media (min-width: 1025px) {
            .row.unlimited-items .col {
                width: 20%;
            }
            ion-col:nth-child(5n+0) {
                border-right: none;
            }
        }
        .item-list {
            .label {
                margin-top: 0;
            }
            margin: 5px 5px 0 5px;
            ion-item {
                box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3);
                padding: 0 0 0 16px;
            }
            .stock-list {
                .out-of-stock-button {
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 80px;
                    font-size: 8px;
                    margin: 0.4rem -5px;
                }
            }
            .wishlist-label {
                position: absolute;
                right: 14px;
                top: 2px;
                padding-left: 0;
                width: 20%;
            }
            .product-label {
                position: absolute;
                top: 2px;
                padding-left: 0;
                width: 70%;
            }
            .wishlist-button {
                float: right;
                padding: 0;
                margin: 0;
                font-size: 1.5em;
            }
            .product-name-top {
                top: 12px;
                h2 {
                    margin: 2px 0 8px 0;
                    font-size: 14px;
                    font-weight: normal;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 70%;
                }
            }
            .price-bottom-list {
                position: absolute;
                bottom: 12px;
                left: inherit;
                .price-regular {
                    color: #f53d3d;
                }
                .price-special {
                    color: #f53d3d;
                }
                .price-delete {
                    color: #666;
                    opacity: 60;
                }
            }
            .bottom-right-button {
                position: absolute;
                bottom: 8px;
                right: 10px;
                button {
                    margin: 0px;
                    border-radius: 5px;
                }
            }
            .left-padding {
                padding: 0px;
            }
        }
        .card-background-page {
            ion-card {
                position: relative;
                text-align: center;
                margin: 0;
                width: 100%;
            }
            .card-title {
                position: absolute;
                top: 80%;
                font-size: 12px;
                width: 100%;
                font-weight: 500;
                color: #fff;
            }
            .card-subtitle {
                font-size: 1.0em;
                position: absolute;
                top: 52%;
                width: 100%;
                color: #fff;
            }
            .stock {
                padding: 0;
                button {
                    position: absolute;
                    top: 2px;
                    right: 0;
                    width: 50%;
                    font-size: 10px;
                    margin: 0.4rem -5px;
                }
            }
            .card-name {
                .label {
                    font-weight: 500;
                    margin: 8px 8px 0px;
                    font-size: 15px;
                    letter-spacing: 0.3px;
                }
            }
        }
    }
}