<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
  <ion-title>
    <img style="width: 60%; max-width: 200px;" src="assets/image/home_header.png">
  </ion-title>
    <ion-buttons end>
      <button ion-button icon-only light color="shadowlite" (click)="getSearch()">
        <ion-icon ios="ios-search" md="md-search">
        </ion-icon>
      </button>
      <button ion-button icon-only light class="has-icon icon-only has-badge" (click)="getCart()">
        <ion-icon class="ion-ios-basket-outline item-icon">
        </ion-icon>
        <ion-badge class="badge badge-light" *ngIf="values.count != 0">{{values.count}}
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="home">
    <ion-spinner *ngIf="!service?.blocks" name="crescent"></ion-spinner>

    <div *ngFor="let children of service?.blocks" hideWhen="loading" class="blocks">

        <div *ngIf="children.block_type == 'banner_block'" [style.background-color]="children.bg_color" [style.margin]="children.margin" class="banner_block">

        <div class="{{children.header_align}}">{{children.title}}</div>    
            <!-- Banner Slider -->
            <div *ngIf="children.children.length && children.style == 'slider'">
                <ion-slides pager="true" loop="true" autoplay="5800">
                        <ion-slide *ngFor="let image of children.children"> 
                            <img src="{{image.image}}" (click)="goto(image)" (load)="hideLoading()" [style.border-radius]="children.border_radius" [style.padding]="children.padding" >
                        </ion-slide>
                </ion-slides>
            </div>

            <!-- Banner Scroll -->
            <div *ngIf="children.children.length && children.style == 'scroll'" class="banner-scroll">
                <a *ngFor="let image of children.children">
                    <div [style.padding]="image.padding" [style.margin]="image.margin"> 
                        <img src="{{image.image}}" (click)="goto(image)" [style.border-radius]="children.border_radius" [style.padding]="children.padding" > 
                    </div>
                </a>  
            </div>

            <!-- Banner Grid -->
            <div *ngIf="children.children.length && children.style == 'grid'" class="banner-grid">
                <ion-row class="row unlimited-items">
                    <ion-col *ngFor="let image of children.children">
                        <div [style.padding]="image.padding" [style.margin]="image.margin"> 
                            <img src="{{image.image}}" (click)="goto(image)" [style.border-radius]="image.border_radius" class="{{image.card_style}}" [style.padding]="children.padding" > 
                        </div>
                    </ion-col>
                </ion-row>
            </div>  

        </div>

        
        
        <div *ngIf="children.block_type == 'product_block'" [style.background-color]="children.bg_color" [style.margin]="children.margin" class="product-block">
        <div *ngIf="children.products" class="{{children.header_align}}">{{children.title}}</div>
        <!-- Products Scroll -->
        <div *ngIf="children.products && children.style == 'scroll'" class="product-scroll">
            <div class="scroller" [style.padding]="children.padding">
                <a *ngFor="let item of children.products">
                    <ion-card>
                        <ion-card-content (click)="getProduct(item.id)"> <img  [style.border-radius]="children.border_radius" src="{{item.images[0].src}}" /> </ion-card-content>
                        <h5 *ngIf="item.title">{{item.title}} </h5>
                        <h5 *ngIf="item.name">{{item.name}} </h5>
                        <ion-label>
                            <span class="price-regular" *ngIf="!item.sale_price">{{1*item.price | currency:values.currency:symbol:'1.2-2' }}
                            </span> <span class="price-regular" *ngIf="item.sale_price">{{1*item.sale_price | currency:values.currency:symbol:'1.2-2' }}
                            </span> <span *ngIf="item.sale_price">
                            <del>{{1*item.regular_price | currency:values.currency:symbol:'1.2-2' }}
                            </del>
                            </span>
                        </ion-label>
                    </ion-card>
                </a>
            </div>
        </div>
        <!-- Products  Grid-->
        <div class="product-grid" *ngIf="children.products && children.style == 'grid'">
            <ion-row class="row unlimited-items">
                <ion-col class="col" *ngFor="let item of children.products">
                    <ion-card>
                        <ion-card-content> 
                            <img tappable src="{{item.images[0].src}}" (click)="getProduct(item.id)"> 
                            <button ion-button color="danger" class="stock" *ngIf="!item.in_stock">{{"No Stock" | translate}}
                            </button>
                            <ion-icon name="md-heart" class="wishlist-button-grid1" *ngIf="values.wishlistId[item.id]" (click)="removeFromWishlist(item.id)"></ion-icon>
                            <ion-icon name="md-heart-outline" class="wishlist-button-grid2" *ngIf="!values.wishlistId[item.id]" (click)="addToWishlist(item.id)"></ion-icon>

                            <div *ngIf="item.in_stock">
                            <button ion-button class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= '1'">{{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</button>
                            </div>

                        </ion-card-content>

                        <div tappable (click)="getProduct(item.id)" class="card-name">
                            <ion-label *ngIf="item.title">{{item.title}} </ion-label>
                            <ion-label *ngIf="item.name">{{item.name}} </ion-label>
                        </div>

                        <ion-label> 
                            <span class="price-regular" *ngIf="!item.sale_price">{{1*item.price | currency:values.currency:symbol:'1.2-2'}}
                            </span> 
                            <span class="price-regular" *ngIf="item.sale_price">{{1*item.sale_price | currency:values.currency:symbol:'1.2-2'}}
                            </span>
                            <span class="price-delete" *ngIf="item.sale_price">
                                <del>{{1*item.regular_price | currency:values.currency:symbol:'1.2-2'}}
                                </del>
                            </span>  
                        </ion-label>
                    </ion-card>
                </ion-col>
            </ion-row>
        </div>
        </div>

        
        <div *ngIf="children.block_type == 'category_block'" [style.background-color]="children.bg_color" [style.margin]="children.margin" class="category">
        <div *ngIf="service?.categories" class="{{children.header_align}}">{{children.title}}</div>
            <!-- Category Scroll -->
            <div *ngIf="service?.categories?.product_categories && children.style == 'scroll'" class="category-slider-scroll">
                <div class="scrollmenu2">
                    <a *ngFor="let item of service.categories?.product_categories" [ngClass]="{none: item.parent != children.link_id}" class="{{item.slug}}">
                      <img *ngIf="item.image" [style.border-radius]="children.border_radius" src="{{item.image}}" (click)="getCategory(item.id, item.slug, item.name, item.image)"/>
                      <h5 *ngIf="item.image" (click)="getCategory(item.id, item.slug, item.name, item.image)" [innerHTML]="item.name"></h5>
                      <div *ngIf="!item.image" class="no-image">
                        <h5 (click)="getCategory(item.id, item.slug, item.name, item.image)" [innerHTML]="item.name"></h5>
                      </div>
                    </a>
                </div>
            </div>
            
            <!-- Category Grid -->
            <div *ngIf="service?.categories?.product_categories && children.style == 'grid'" class="category-slider-grid">
                <ion-row class="row unlimited-items">
                    <ion-col class="col {{item.slug}}" *ngFor="let item of service.categories.product_categories" [ngClass]="{none: item.parent != children.link_id}" [style.padding]="children.padding">
                        <div (click)="getCategory(item.id, item.slug, item.name, item.image)">
                            <ion-card>
                                <ion-card-content> 
                                    <img *ngIf="item.image" [style.border-radius]="children.border_radius" src="{{item.image}}"/> 
                                </ion-card-content>
                                <div text-center>
                                    <ion-label text-uppercase [innerHTML]="item.name"> </ion-label>
                                </div>
                            </ion-card>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>

    </div>


  <!--div *ngIf="service?.categories" style="margin-bottom: 10px;">

    <div *ngIf="service.mainCategories" class="main-categories">
      <ion-row class="row unlimited-items">
        <ion-col class="col" *ngFor="let item of service.mainCategories" [hidden]="item.name == 'Uncategorized'">
          <a (click)="getCategory(item.id, item.slug, item.name)">
            <ion-card>
              <ion-card-content>
                <img src="{{item.image}}"/>
              </ion-card-content>
              <div text-center>
                <ion-label text-uppercase><span [innerHTML]="item.name"></span>
                </ion-label>
              </div>
            </ion-card>
          </a>
        </ion-col>
      </ion-row>
    </div>
  </div-->
    <div *ngIf="service?.products?.products" class="products-listing">
      <div *ngIf="service?.products.products.length">
          <!--ion-item no-lines class="item-name">
            <ion-label text-uppercase><b>{{"Products" | translate}}</b>
            </ion-label>
          </ion-item-->
          <ion-list>
                      <div class="card-background-page grid">
            <ion-row class="row unlimited-items">
              <ion-col class="col" *ngFor="let item of service.products.products">
                <ion-card>
                  <ion-card-content class="stock">

                      <img tappable src="{{item.images[0].src}}" (click)="getProduct(item.id)">
                      <button ion-button color="danger" *ngIf="!item.in_stock">{{"OUTOFSTOCK" | translate}}
                      </button>

     
                  <ion-icon ios="ios-heart" md="md-heart" color="danger" class="wishlist-button-grid" *ngIf="values.wishlistId[item.id]" (click)="removeFromWishlist(item.id)"></ion-icon>
                  <ion-icon ios="ios-heart-outline" md="md-heart-outline" color="danger" class="wishlist-button-grid" *ngIf="!values.wishlistId[item.id]" (click)="addToWishlist(item.id)"></ion-icon>

                  
                  </ion-card-content>
                  <div tappable (click)="getProduct(item.id)" class="card-name">
                  <ion-label *ngIf="item.title">{{item.title}}
                  </ion-label>
                  <ion-label *ngIf="item.name">{{item.name}}
                  </ion-label>
                  </div>
                  <ion-item no-padding class="price-list">
                    <span class="price-regular" *ngIf="!item.sale_price">{{1*item.price | currency:values.currency:true:'1.2-2'}}
                    </span>
                    <span class="price-special" *ngIf="item.sale_price">{{1*item.sale_price | currency:values.currency:true:'1.2-2'}}
                    </span>
                    <span class="price-delete" primary *ngIf="item.sale_price">
                      <del>{{1*item.regular_price | currency:values.currency:true:'1.2-2'}}
                      </del>
                    </span>
                    <!--button ion-button [disabled]='!item.in_stock' text-uppercase color="button-color" item-right clear *ngIf="values.cart[item.id] == undefined || values.cart[item.id] == 0" (click)="addToCart(item.id, item.type)">
                      {{"Add"  | translate}}
                    </button>
                    <button ion-button icon-only item-right clear color="button-color" *ngIf="values.cart[item.id] >= 1" (click)="deleteFromCart(item.id)">
                      <ion-icon ios="ios-remove-circle-outline" md="ios-remove-circle-outline">
                      </ion-icon>
                    </button>
                    <button ion-button item-right color="button-color" clear *ngIf="values.cart[item.id] >= 1">{{values.cart[item.id]}}
                    </button>
                    <button ion-button icon-only item-right clear color="button-color" *ngIf="values.cart[item.id] >= 1" (click)="updateToCart(item.id)">
                      <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline">
                      </ion-icon>
                    </button-->
                  </ion-item>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
          </ion-list>
        </div>
      </div>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="has_more_items">
            <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="{{'Loading more items...' | translate}}"> </ion-infinite-scroll-content>
        </ion-infinite-scroll>
</ion-content>
