<ion-header>
  <ion-navbar color="header">
    <ion-title text-center>{{"ResetPassword" | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="forgotten">
  <div class="margin">
    <form #f="ngForm">
      <ion-item>
        <ion-label floating>{{"Enteremailaddress"| translate}}
        </ion-label>
        <ion-input required type="email" [(ngModel)]="forgottenData.email" name="email">
        </ion-input>
      </ion-item>
      <h2>{{"Forgot PasswordReset" | translate}}
      </h2>
      <button ion-button block color="button-color" class="button button-block button-default" [disabled]="disableSubmit" (click)="forgotten(forgottenData.email)">{{reset | translate}}
      </button>
    </form>
  </div>
</ion-content>
